@tailwind base;

@layer base {
    body::-webkit-scrollbar {
        width: 8px; /* Mostly for vertical scrollbars */
        height: 8px; /* Mostly for horizontal scrollbars */
    }

    body::-webkit-scrollbar-thumb { /* Foreground */
        @apply bg-gray-400;
    }

    body::-webkit-scrollbar-track { /* Background */
        @apply bg-gray-100;
    }
}

@tailwind components;

@layer components {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-400;
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply bg-gray-100;
    }
}

@tailwind utilities;

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
